<div class="container">
    <div class="hero">
      <div class="hero-pitch">
        <h1>Leading provider of Leadership, environmental,
           health and safety innovative solutions

        </h1>
      <h3>We assist clients across all sectors in achieving the highest 
        level of Quality, Health, Safety, Environment (QHSE) standard 
        and superior quality consultancy services 
      </h3><div class="hero-button">

        <button>GET STARTED</button>
      </div>

      </div>
    </div>
    <div class="user">
      <img src="" alt="">
    </div>
</div>
<div class="steps">
    <div class="card-container">
        <div class="cards">
            <div class="box">
                <div class="icons">
                   <div class="logoone"></div>

                   
                </div>
                <div class="icon-title"><h2>Leadership</h2></div>
                <p class="card-text">Superior quality leadership from our highly skilled, motivated and dedicated personnel with great wealth of experience. </p>
            </div>
            <div class="box">
                <div class="icons">
                    <div class="logo-two"></div>
                </div>
                <div class="icon-title"><h2>Consultancy</h2></div>
                <p class="card-text">Cutting edge HSE consultancy service that significantly improves productivity and effective return on investment</p>
            </div>
            <div class="box-3">
                <div class="icons">
                  <div class="logo-three"></div>
                </div>
                <div class="icon-title"><h2>Training</h2></div>
                <p class="card-text">Our clients and delegates are inspired by our creative and state of the art trainings and consultancy solutions</p>
            </div>
            
        </div>
    </div>
</div>
<div class="second-step">
  <app-section-two>

  </app-section-two>
</div>
<div class="why-u-should-train-with"></div>
<div class="footer-details">
    <div class="footer-container">
      <div class="footer-carding">
        <div class="contact-footer">
            <div class="footer-header">COMPANY</div>
            <p>LEHS CONCEPT CONSULT (LCC) </p>
            <p>NIGERIA LIMITED </p>
            <p> RC. 1221923</p>
            <p>(2014)</p>
        </div>


      </div>
      <div class="footer-carding">
        <div class="contact-footer">
        <div class="footer-header">MORE INFO</div>
        <p>FAQs</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Careers</p>
        <p>Online courses</p>
        <p>Contact Us</p>
    
    </div>

      </div>
      <div class="footer-carding">
          <div class="contact-footer">
              <div class="footer-header">HEADQUATERS</div>
              <p>30, Oni Street, Akowonjo,</p>
              <p>Lagos, Nigeria. </p>
              <p> S_lcc@yahoo.com</p>
              <p>a.oyinboade@consultant.com</p>
              <p>+234-8063151070</p>
              <p>+2348178727776</p>
              <p>+2348037706581</p>
          </div>
      </div>
      <div class="footer-carding">
        <div class="footer-header">CONNECT WITH US</div>
        <div class="social-icons">
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube"></i>
        </div>
      </div>
      
    </div>
</div>
